:root {
    --ct-color-dark: #023047;
    --ct-color-light-1: #219EBC;
    --ct-color-light-2: #8ECAE6;
    --ct-color-supplementary-1: #FB8500;
    --ct-color-supplementary-2: #FFB703;
    --ct-color-error: #8b0000;
    --ct-color-success: #228C22;
}

body {
    font-family: Calibri, Arial;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.4em;
    border-bottom: 2px solid var(--ct-color-light-1);
    color: var(--ct-color-light-1);
}

h2 {
    font-size: 1.1em;
    border-bottom: 1px solid var(--ct-color-light-1);
    color: var(--ct-color-light-1);
}

hr {
    border-top: 1px solid var(--ct-color-light-1);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.ct-button {
    border-radius: 8px;
    background: var(--ct-color-dark);
    padding: 10px 20px 10px 20px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
}

.ct-input {
    border: 1px solid var(--ct-color-dark);
    border-radius: 8px;
    color: var(--ct-color-dark);
    background: var(--ct-color-light-2);
    padding: 10px 20px 10px 20px;
    width: calc(100% - 40px - 4px);
}

.ct-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ct-card {
    margin: 10px 0 10px 0;
    border: 1px solid var(--ct-color-light-2);
    border-radius: 8px;
    overflow: hidden;
}

.ct-card-header {
    background: var(--ct-color-light-2);
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 1px solid var(--ct-color-light-1)
}

.ct-card-row {
    background: #ffffff;
    padding: 10px 10px 10px 10px;
}

.ct-clickable-area {
    cursor: pointer;
}

.ct-data-row {
    display: flex;
}

.ct-data-cell-left {
    flex: 1;
    justify-content: flex-start;
    align-items: flex-end;
    height: 1.1em;
}

.ct-data-cell-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 1.1em;
}

.ct-data-cell-right div {
    margin: 0 0 0 2px;
}

.ct-text-dark {
    color: var(--ct-color-dark);
}

.ct-text-dark-strong {
    color: var(--ct-color-dark);
    font-weight: bold;
}

.ct-text-light-1 {
    color: var(--ct-color-light-1);
}

.ct-text-light-1-strong {
    color: var(--ct-color-light-1);
    font-weight: bold;
}

.ct-text-light-2-strong {
    color: var(--ct-color-light-2);
    font-weight: bold;
}

.layout main {
    padding: 65px 10px 60px 10px;
    max-width: 800px;
}

/* CtError */

.ct-error-box {
    background: var(--ct-color-error);
    color: #ffffff;
    top: 0px;
    padding: 20px 10px 20px 10px;
    width: calc(100% - 20px);
    position: fixed;
    z-index: 30;
}

/* CtMessage */
.ct-message-box {
    background: var(--ct-color-success);
    color: #ffffff;
    padding: 20px 10px 20px 10px;
    position: fixed;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* CtHeader */

.ct-header {
    width: 100%;
    height: 35px;
    background: var(--ct-color-light-1);
    color: var(--ct-color-light-2);
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
}

.ct-header .ct-button-menu {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: var(--ct-color-supplementary-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ct-header .ct-stripe {
    width: 24px;
    height: 5px;
    margin: 2px 0 2px 0;
    background: var(--ct-color-supplementary-2);
    border-radius: 1px;
}

.ct-header .ct-user {
    color: var(--ct-color-dark);
    font-size: 1.3em;
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
}

/* CtHeader / nav */

.ct-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 10;
    color: #fff;
    background: var(--ct-color-supplementary-1);
    font-weight: normal;
    padding: 0;
    overflow: hidden;
}

.ct-nav-open {
    width: 100%;
    padding: 10px 10px 0 10px;
    transition: 0.2s;
}

.ct-nav-top-bar {
    display: flex;
    flex-direction: row-reverse;
    width: calc(100% - 20px);
    padding: 0 0 30px 0;
}

.ct-nav-item {
    border-bottom: 1px solid #fff;
    width: calc(100% - 20px - 12px);
    padding: 6px;
    cursor: pointer;
}

.ct-nav-item:hover {
    background: var(--ct-color-supplementary-2);
}

.ct-nav-log-out {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px 0 0 0;
    width: calc(100% - 20px);
}

/* CtLogin */

.ct-login {
    width: 300px;
    margin: 0 auto;
}

.ct-login div {
    padding: 10px;
}

.ct-login-button-row {
    color: #fff;
}

.ct-login-button-row div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CtEdit */

.ct-button-bar-container {
    position: fixed;
    top: 65px;
    left: calc(400px - 141px);
    background: #ffffff;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .ct-button-bar-container {
        left: calc(50% - 141px);
    }
}

.ct-button-bar-container .ct-button-bar {
    display: flex;
    font-size: 1.1em;
    color: var(--ct-color-light-2);
}

.ct-button-bar-container .ct-month-label {
    color: var(--ct-color-dark);
    border: 1px solid var(--ct-color-dark);
    padding: 10px;
    width: 110px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ct-button-bar-container .ct-nav-button {
    background: var(--ct-color-dark);
    padding: 10px;
    width: 50px;
    height: 21px;
    border: 1px solid var(--ct-color-dark);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ct-button-bar-container .ct-nav-button-previous {
    border-radius: 50% 0 0 50%;
}

.ct-button-bar-container .ct-nav-button-next {
    border-radius: 0 50% 50% 0;
}

.ct-op-button-container {
    background: #ffffff;
    bottom: 10px;
    left: 10px;
    width: 800px;
    position: fixed;
}

@media (max-width: 800px) {
    .ct-op-button-container {
        width: calc(100% - 20px);
    }
}

.ct-measurement-input-container {
    margin: 55px 0 0 0;
}

/* CtMeasurementInput */

.ct-input-container {
    display: flex;
}

.ct-input-center {
    flex: 2;
    background: var(--ct-color-light-2);
    padding: 10px 20px 10px 20px;
    width: calc(100% - 40px - 4px);
    border-left-style: none;
    border-right-style: none;
}

.ct-input-center-dark {
    border-top: 1px solid var(--ct-color-dark);
    border-bottom: 1px solid var(--ct-color-dark);
}

.ct-input-center-light {
    border-top: 1px solid var(--ct-color-light-1);
    border-bottom: 1px solid var(--ct-color-light-1);
}

.ct-input-text-center {
    text-align: center;
}

.ct-label-left {
    flex: 2;
    border-radius: 8px 0 0 8px;
    padding: 10px 20px 10px 20px;
}

.ct-label-left-dark {
    border-top: 1px solid var(--ct-color-dark);
    border-bottom: 1px solid var(--ct-color-dark);
    border-left: 1px solid var(--ct-color-dark);
}

.ct-label-left-light {
    border-top: 1px solid var(--ct-color-light-1);
    border-bottom: 1px solid var(--ct-color-light-1);
    border-left: 1px solid var(--ct-color-light-1);
}

.ct-label-right {
    flex: 1;
    border-radius: 0 8px 8px 0;
    padding: 10px 20px 10px 20px;
}

.ct-label-right-dark {
    border-top: 1px solid var(--ct-color-dark);
    border-right: 1px solid var(--ct-color-dark);
    border-bottom: 1px solid var(--ct-color-dark);
}

.ct-label-right-light {
    border-top: 1px solid var(--ct-color-light-1);
    border-right: 1px solid var(--ct-color-light-1);
    border-bottom: 1px solid var(--ct-color-light-1);
}